.splash{
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    padding: 20px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    margin-top: 350px;
}

nav {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
}

.block {
    flex: 1;
    margin: 8px;
}

img {
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 800px) {


}

@media (min-width: 800px) {


}